.redbackground{
    background-color: red;
    color: white
}
.graybackground{
    background-color: gray;
    color: white;
}
.tablestyle{
    border: 1px solid black;
    width: 263px;
}
.fittcell{
    width: 100%;
}

.trline{
    border: 1px solid black
}