<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
<table class="tablestyle">
  <th class="redbackground" colspan="2">Login</th>
  <tr>
    <td><label for="user">User:</label></td>
    <td><input type="text" id="user" formControlName="user"></td></tr>
  <tr>
    <td><label for="password">Password:</label></td>
    <td><input type="text" id="password" formControlName="password"></td>
  </tr>
  <tr>
    <td colspan="2">
      <button class="fittcell">Login</button>
    </td>
  </tr>
</table>
</form>
<div *ngIf="error">
  <p>Error: {{error}}</p>
</div>

<table class="tablestyle">
  <thead class="graybackground">
    <th>User</th>
    <th>Password</th>
  </thead>
  <tr *ngFor="let auth of authentications"><td class="trline">{{auth.user}}</td><td class="trline">{{auth.password}}</td></tr>
</table>