<html>

<head>WI Simulation</head>

<body>
  <form id="LoginForm">
    <table class="thin_border">
      <tr>
        <th class="red_background" style="width:100%" colspan="2">Login</th>
      </tr>
      <tr>
        <td>
          <label for="user">User:</label>
        </td>
        <td>
          <input type="text" id="user">
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">Password:</label>
        </td>
        <td>
          <input type="text" id="password">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" id="Login" style="width:100%">
        </td>
      </tr>
    </table>
  </form>
</body>

</html>